body {
    color: #333;
    background: teal;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
    text-align: center;
}

